// /*--------------------------------------------------------------
// # Embedded Fonts
// --------------------------------------------------------------*/
// //Merriweather
@font-face {
  font-family: 'merriweather';
  src: url('../assets/project-04/fonts/merriweather-lightitalic.eot');
  src: url('../assets/project-04/fonts/merriweather-lightitalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/merriweather-lightitalic.woff') format('woff'),
      url('../assets/project-04/fonts/merriweather-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'merriweather';
  src: url('../assets/project-04/fonts/merriweather-bolditalic.eot');
  src: url('../assets/project-04/fonts/merriweather-bolditalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/merriweather-bolditalic.woff') format('woff'),
      url('../assets/project-04/fonts/merriweather-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'merriweather';
  src: url('../assets/project-04/fonts/merriweather-bold.eot');
  src: url('../assets/project-04/fonts/merriweather-bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/merriweather-bold.woff') format('woff'),
      url('../assets/project-04/fonts/merriweather-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather';
  src: url('../assets/project-04/fonts/merriweather-light.eot');
  src: url('../assets/project-04/fonts/merriweather-light.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/merriweather-light.woff') format('woff'),
      url('../assets/project-04/fonts/merriweather-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
//Novacento
@font-face {
  font-family: 'novecento';
  src: url('../assets/project-04/fonts/novecento-normal.eot');
  src: url('../assets/project-04/fonts/novecento-normal.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/novecento-normal.woff') format('woff'),
      url('../assets/project-04/fonts/novecento-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento';
  src: url('../assets/project-04/fonts/novecento-demibold.eot');
  src: url('../assets/project-04/fonts/novecento-demibold.eot?#iefix') format('embedded-opentype'),
      url('../assets/project-04/fonts/novecento-demibold.woff') format('woff'),
      url('../assets/project-04/fonts/novecento-demibold.ttf') format('truetype');
  font-weight: bold;
font-style: normal;
}