// Hero Banner & Logo
.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/project-04/images/home-hero.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

// Product Info
.product-info-container {
  h2 {
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .product-type-blocks {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    .product-type-block-wrapper {
      flex: auto;
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      text-align: center;
      padding: 1rem 1rem;
      margin: 10px;
      width: 10%;
      &:hover {
        border-color: #d99054;
      }
      p {
        font-size: 1.11rem;
      }
    }  
  }
  img {
    width: 70px;
  }
  .btn {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    background-color: #248a83;
    font-family: $font__nc;
    &:hover {
      background: darken(#248a83, 10%);
      color: white;
  }
  &:visited {
      color: white;
    }
  }
}
.home #secondary {
  display: none;
}

//Adventure Grid 
.adventures {
  display: flex;
  height: 600px;
  margin: 0 auto;
  width: 1120px;
  margin-bottom: 2rem;
  h3 {
      font-weight: normal;
      font-family: $font__mw;
  }
  a {
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: #f0e4d1
    }
  }
  p a:hover {
    color: white;
  }
  p {
    font-family: $font__nc;
  }
}
.latest-adventures {
  line-height: 1.2;
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.adventure-h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
.box-1 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3)), url('../../assets/project-04/images/adventure-photos/canoe-girl.jpg') center;
  background-size: cover, cover;
  border-right: solid 10px #fff;
  font-size: 2.8rem;
}
.right-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bottom-right-box {
  display: flex;
  width: 100%;
  height: 50%
}
.box-2 {
  height: 50%;
  width: 100%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3)), url('../../assets/project-04/images/adventure-photos/beach-bonfire.jpg') center;
  background-size: cover, cover;
  border-left: solid 10px #fff;
  border-bottom: solid 10px #fff;
  font-size: 2rem;
  p {
    margin: 0;
    line-height: 1;
  }
}
.box-3 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3)), url('../../assets/project-04/images/adventure-photos/mountain-hikers.jpg') center;
  background-size: cover, cover;
  border-top: solid 10px #fff;
  border-left: solid 10px #fff;
  border-right: solid 10px #fff;
  font-size: 1.5rem;
}
.box-4 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3)), url("../../assets/project-04/images/adventure-photos/night-sky.jpg") center;
  background-size: cover, cover;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  font-size: 1.5rem;
}
.read-more {
  padding-left: 3rem;
}
.read-more-button {
  border: 1px solid #fff;
  font-size: .9rem;
  font-weight: 100;
  padding: .8rem 1.2rem;
  text-transform: uppercase;
  &:hover {
    background-color: #248a83;
    border: 1px solid #248a83;
    a:hover {
      color: white;
    }
  }
}
.more-adventures-button {
  margin-top: 1rem;
  font-size: 1rem;
  padding: .8rem 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: $font__nc;
  background-color: #248a83;
  &:hover {
    background: darken(#248a83, 10%);
    color: white;
  }
  &:visited {
    color: white;
  }
}


