/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/*Journal Page */

.blog #content {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  #primary {
    flex: 1 1 70%;
    width: 70%;
    img {
      width: 100%;
    }
    h2 {
      background-color: #248a83;
      font-size: 2.1rem;
      padding: .75rem 1.5rem;
      position: absolute;
      margin-top: 2.25rem;
      max-width: 75%;
      top: 10px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .site-main {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 60px 60px;
    margin-top: 40px;
  }
  article {
    position: relative;
  }
  .entry-meta {
    background-color: #248a83;
    color: #fff;
    padding: .2rem 1.5rem;
    position: absolute;
    right: 0px;
    bottom: 11rem;
  }
  #secondary {
    flex: 1 1 30%;
    width: 30%;
    padding: 50px 50px;
    margin-top: 40px;
  }
}

.widget-area {
  flex-wrap: wrap;
  border: 1px solid #e1e1e1;
  a {
    color: #248a83;
  }
  .contact-meta i {
    margin-right: 15px;
  }
}

/* Shop Page */

.archive #secondary {
  display: none;
}
.shop-container ul {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  li {
    flex: auto;
    border: 1px solid #e1e1e1;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    width: 20%;
    img {
      height: 200px;
    }
  }
}

/* About Page */

.page-template-about .entry-content {
  margin: 3rem auto;
  max-width: 800px;
}
.page-template-about h2 {
  text-align: center;
  padding-top: 10px;
}
.page-template-about p {
 margin-bottom: -0.5rem;
}